.loading-image {
    background: $c-gray-loading-bg;

    &::before {
        content: '';
        position: absolute;
        width: 400%;
        height: 400%;
        top: 0;
        bottom: 0;
        right: -300%;
        left: 0%;
        background: linear-gradient(270deg, $c-gray-loading-1, $c-gray-loading-2);
        background-size: 400% 400%;
        animation: loadingImage 3s ease infinite;
    }

    // MODIFICATION
    &.-blue {
        background: $c-blue-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-blue-loading-1, $c-blue-loading-2);
        }
    }

    &.-green {
        background: $c-green-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-green-loading-1, $c-green-loading-2);
        }
    }

    &.-gray {
        background: $c-gray-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-gray-loading-1, $c-gray-loading-2);
        }
    }

    // Skeleton
    &.-skeleton-blue {
        position: relative;
        overflow: hidden;
        background: $c-blue-skeleton-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-blue-skeleton-loading-1, $c-blue-skeleton-loading-2);
        }
    }

    &.-skeleton-green {
        position: relative;
        overflow: hidden;
        background: $c-green-skeleton-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-green-skeleton-loading-1, $c-green-skeleton-loading-2);
        }
    }

    &.-skeleton-gray {
        position: relative;
        overflow: hidden;
        background: $c-gray-skeleton-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-gray-skeleton-loading-1, $c-gray-skeleton-loading-2);
        }
    }

    // Skeleton-dark
    &.-skeleton-dark-blue {
        position: relative;
        overflow: hidden;
        background: $c-blue-skeleton-dark-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-blue-skeleton-dark-loading-1, $c-blue-skeleton-dark-loading-2);
        }
    }

    &.-skeleton-dark-green {
        position: relative;
        overflow: hidden;
        background: $c-green-skeleton-dark-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-green-skeleton-dark-loading-1, $c-green-skeleton-dark-loading-2);
        }
    }

    &.-skeleton-dark-gray {
        position: relative;
        overflow: hidden;
        background: $c-gray-skeleton-dark-loading-bg;

        &::before {
            background: linear-gradient(270deg, $c-gray-skeleton-dark-loading-1, $c-gray-skeleton-dark-loading-2);
        }
    }

    // ANIMATION
    @keyframes loadingImage {
        0%{
            right: -300%;
            left: 0%;
        }
        50%{
            right: 0%;
            left: -300%;
        }
        100%{
            right: -300%;
            left: 0%;
        }
    }
}