.a-button-fill {
    @include transition(background-color, .3s);
    cursor: pointer;
    background-color: $c-gray-bg-component-dark-super;
    color: $white;
    border-radius: 6px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: $fs-small-l;

    &:hover {
        background-color: $c-gray-bg-component-dark;
        color: $white;
    }


    // MODIFY - Themas
    &.-brand-blue {
        background-color: $brand3;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $brand2;
            color: $white;
        }
    }

    &.-brand-green {
        background-color: $brand1;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $brand2;
            color: $white;
        }
    }

    &.-blue {
        background-color: $c-blue-bg-component-dark-super;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $c-blue-bg-component-dark;
            color: $white;
        }
    }

    &.-gray {
        background-color: $c-gray-bg-component-dark-super;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $c-gray-bg-component-dark;
            color: $white;
        }
    }

    &.-green {
        background-color: $c-green-bg-component-dark-super;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $c-green-bg-component-dark;
            color: $white;
        }
    }

    
    // MODIFY - Sizes
    &.-small {
        padding: 4px 8px;
        border-radius: 5px;
        font-size: $fs-small;
    }

    &.-big {
        font-size: $fs-normal-sss;
        padding: 10px 16px;
        margin: 4px 7px;
        border-radius: 8px;
    }
}