.a-button-fill {
    @include transition(background-color, .3s);
    cursor: pointer;
    background-color: $brand1;
    color: $white;
    border-radius: 6px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: $fs-small-l;

    &:hover {
        background-color: $brand2;
        color: $white;
    }

    //sizes
    &.-small {
        padding: 4px 8px;
        border-radius: 5px;
        font-size: $fs-small;
    }

    &.-big {
        font-size: $fs-normal-sss;
        padding: 10px 16px;
        margin: 4px 7px;
        border-radius: 8px;
    }

    //thema
    &.-blue {
        background-color: $brand3;
        color: $white;
        text-decoration: none;

        &:hover {
            background-color: $brand2;
            color: $white;
        }
    }
}