.a-button-pure-icon {
    font-size: $fs-normal-s;
    height: 30px;
    padding: 5px 5px 5px 25px;
    position: relative;

    &::after {
        font-family: $ff-icomoon-default;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 5px;
        bottom: 5px;
    }

    &.-cover {
        color: $brand1Dark;

        &::after {
            content: map-get($icomoon-default, 'image');
        }

        &:hover {
            color: $brand1Dark;
        }
    }

    &.-map {
        color: $brand1Dark;

        &::after {
            content: map-get($icomoon-default, 'map');
        }

        &:hover {
            color: $brand1Dark;
        }
    }
}