.a-input-search {
    width: 100%;
    max-width: 420px;
    height: 56px;
    padding: 4px 15px;
    line-height: 40px;
    border-radius: 10px;
    font-size: $fs-normal-sss;
    border: 1px solid $c-green-bg-component-light;
    background-color: $c-green-bg-component-light-super;

    @media only screen and (min-width: $sm) {
        font-size: $fs-normal-ll;
    }

    &:focus{
        outline: none;
    }

    &::placeholder {
        color: $gray10;
    }

    // color
    &.-gray {
        border: 1px solid $c-gray-bg-component-light;
        background-color: $c-gray-bg-component-light-super;
    }

    &.-blue {
        border: 1px solid $c-blue-bg-component-light;
        background-color: $c-blue-bg-component-light-super;
    }

    &.-green {
        border: 1px solid $c-green-bg-component-light;
        background-color: $c-green-bg-component-light-super;
    }
}