.a-input {
    width: 100%;
    max-width: 560px;
    height: 56px;
    padding: 4px 15px;
    line-height: 30px;
    border: 1px solid $brand2-a;
    border-radius: $br-2;
    background-color: $brand2-a-3;
    font-size: $fs-normal-sss;

    &:focus{
        outline: none;
    }
}