.a-input-search {
    width: 100%;
    max-width: 420px;
    height: 56px;
    padding: 4px 15px;
    line-height: 40px;
    border-radius: 10px;
    font-size: $fs-normal-ll;
    border: 1px solid $c-green-bg-component-light;
    background-color: $c-green-bg-component-light-super;

    &:focus{
        outline: none;
    }
}