.a-textarea {
    width: 100%;
    max-width: 560px;
    height: 86px;
    padding: 4px 15px;
    line-height: 30px;
    border: 1px solid ;
    border-radius: $br-2;
    background-color: $green1-3;
    font-size: $fs-normal-sss;

    &:focus{
        outline: none;
    }

    &::placeholder {
        color: $gray6;
    }

    
    // MODIFY - Themas
    &.-blue {
        border: 1px solid $c-blue-bg-component-light;
        background-color: $c-blue-bg-component-light-super;
    }

    &.-gray {
        border: 1px solid $c-gray-bg-component-light;
        background-color: $c-gray-bg-component-light-super;
    }

    &.-green {
        border: 1px solid $c-green-bg-component-light;
        background-color: $c-green-bg-component-light-super;
        color: $c-green-bg-component-dark-super;
    }

    &.-green2 {
        max-width: 100%;
        border: 0;
        padding: 0;
        font-size: $fs-normal-s;
        line-height: $lh-x-normal;
        background-color: transparent;
        color: $c-green-bg-component-dark-super;
        border-radius: 0;
        height: 129px;
    }
}