.skeleton-o-follower-button {
    width: 100%;
    margin: 5px 0;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;
        padding: 5px 0;
    }

    &__button {
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 13px 15px 13px 55px;
        background-color: $c-blue-bg-component-light-super;
        border-radius: $br-2;
        height: 52px;
        line-height: 26px;
        color: $c-blue-icon;
    }
}