.skeleton-o-number-places {
    display: block;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &__item {
        display: block;
        padding: 5px;
        width: 50%;

        @media only screen and (min-width: $sm) {
            width: 20%;
        }
    }

    &__content {
        border-radius: $br-1;
        height: 110.5px;

        @media only screen and (min-width: $sm) {
            border-radius: $br-2;
        }
    }
}