.skeleton-o-follower-list {
    $self: &;

    display: block;
    padding: 5px 0;
    width: 100%;
    margin: 0 -5px;

    @media only screen and (min-width: $lg) {
        padding: 10px 0;
    }

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        position: relative;
        width: 50%;
        height: 174px;

        @media only screen and (min-width: $sm) {
            width: 33.333%;
        }

        @media only screen and (min-width: $md) {
            width: 25%;
        }

        @media only screen and (min-width: $lg) {
            width: 20%;
        }
    }

    &__content-outer {
        display: block;
        padding: 5px;
        width: 100%;
        height: 100%;
    }

    &__content-inner {
        background-color: $c-blue-bg-component-light;
        border-radius: $br-2;
        width: 100%;
        height: 100%;

        @media only screen and (min-width: $lg) {
            border-radius: $br-4;
        }
    }
}