$icomoon-default: (
	plane: "\f072",
	automobile: "\f1b9",
	bicycle: "\f206",
	bus: "\f207",
	ship: "\f21a",
	train: "\f238",
	image: "\e90d",
	images: "\e90e",
	camera: "\e90f",
	film: "\e913",
	location2: "\e948",
	compass2: "\e94a",
	map: "\e94b",
	clock: "\e94e"
) !default;

$icomoon-social: (
	discord: "\e900",
	facebook: "\e901",
	gmail: "\e902",
	google: "\e903",
	instagram: "\e904",
	patreon: "\e905",
	pinterest: "\e906",
	reddit: "\e907",
	tiktok: "\e908",
	twitch: "\e909",
	twitter: "\e90a",
	youtube: "\e90b"
) !default;
