.m-author {
    display: inline-block;
    width: 100%;
    font-size: $fs-small;
    color: $gray8;

    &__link {
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    &.-world {
        color: $c-green-t-dark;
    }
}