.m-icon-search {
    $self: &;

    position: fixed;
    width: 40px;
    height: 40px;
    right: 50px;
    top: 5px;

    @media only screen and (min-width: $ti) {
        right: 60px;
        top: 10px;
    }
    
    @media only screen and (min-width: $lg) {
        position: relative;
        right: inherit;
        top: inherit
    }

    &__icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 5px;
        position: relative;
        cursor: pointer;
    }

    &__icon-file {
        position: absolute;
        display: block;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;

        &::after {
            @include transition(color, .3s);
            font-size: $fs-icon-30;
            font-family: $ff-icomoon-default;
            color: $c-green-icon-dark;
            line-height: 1;
            content: map-get($icomoon-default, 'search');
        }

    }
}