.m-logotype {
    position: relative;
    display: flex;
    z-index: 999;
    background-color: white;

    @media only screen and (min-width: $lg) {
        background-color: transparent;
        border-radius: inherit;
    }

    &__image {
        width: 160px;
        height: 40px;
        padding: 5.35px 0;
        position: relative;

        @media only screen and (min-width: $ti) {
            width: 200px;
        }
    }

    &__image-file {
        background-image: url('../../public/images/_base/logotype.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 160px;
        height: 29.3px;

        @media only screen and (min-width: $ti) {
            width: 200px;
        }
    }

    &__image-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}