.m-nav-footer {
    width: 100%;
    background-color: $brand4;
    position: relative;

    &:before {
        content: '';
        opacity: .4;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../images/_base/hero.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__outer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
        z-index: 1;
    }

    &__inner {
        width: 100%;
        margin: 20px 0;

        @media only screen and (min-width: $lg) {
            width: 33.333%;
        }
    }

    &__headline {
        display: block;
        width: 100%;
        font-weight: 700;
        margin-bottom: 6px;
        color: $white;
        padding: 0 10px;
        font-size: $fs-normal-ss;
        text-transform: uppercase;
    }

    &__items {
        width: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        width: 100%;
        min-height: 36px;
        text-align: left;
    }

    &__link {
        padding: 5px;
        margin: 2px 5px;
        line-height: 26px;
        font-size: $fs-small;
        color: $white;
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;

        &:hover {
            color: $brand3;
        }

        &.-active {
            &:hover {

            }
        }
    }
}