.m-nav-breadcrumbs-place {
    width: 100%;

    &__outer {
        width: auto;
        margin: 0 5px;

        @media only screen and (min-width: $ti) {
            margin: 0 10px;
        }
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        margin: 0;
        padding: 3px 0;
        justify-content: flex-start;
        flex-wrap: wrap;

        @media only screen and (min-width: $ti) {
            padding: 3px 0;
        }
    }

    &__item {
        display: flex;
        text-align: center;
        position: relative;
        padding: 2px 15px 2px 2px;

        &:after {
            content: '›';
            color: $brand1;
            position: absolute;
            right: 3px;
            color: $gray1;
            line-height: 22px;
            font-size: $fs-normal-s;
            opacity: .5;
            top: 1px;
        }

        &:last-of-type {
            padding: 2px;

            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: $worldTEXTdark;
        line-height: 22px;
        font-size: $fs-normal-sss;
        text-decoration: none;

        &:hover {
            color: $worldTEXTdark2;
        }
    }

    &__span {
        color: $worldTEXT;
        line-height: 22px;
        font-size: $fs-small-l;
        text-decoration: none;
    }
}