.m-nav-account {
    min-height: 55px;
    overflow: hidden;
    display: none;

    @media only screen and (min-width: $lg) {
        display: block;
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style-type: none;
        padding: 0;
    }

    &__item {
        position: relative;
        width: 100%;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: auto;
            left: 5%;
            right: 5%;
            height: 1px;
            background-color: $c-blue-bg-component-light;
            opacity: .7;
        }

        &:last-of-type {
            &:after {
                display: none;
            }
        }

        &.-logout {
            margin-top: 30px;
        }
    }

    &__link {
        cursor: pointer;
        display: flex;
        justify-content: left;
        padding: 17px 24px 17px 48px;
        text-decoration: none;
        color: $c-blue-icon;
        position: relative;
        font-size: $fs-normal-ss;
        line-height: 20px;
        text-align: left;
        font-weight: 600;
        position: relative;

        &::after {
            content: '';
            font-family: $ff-icomoon-default;
            width: 36px;
            height: 36px;
            line-height: 1;
            font-size: $fs-icon-24;
            position: absolute;
            left: 0;
            top: 8px;
            padding: 6px;
            background-color: $c-blue-bg-component-light;
            border-radius: $br-1;
        }

        &.-setting {
            &::after {
                content: map-get($icomoon-default, 'setting');
            }
        }

        &.-checkmark {
            &::after {
                content: map-get($icomoon-default, 'checkmark');
            }
        }

        &.-flag {
            &::after {
                content: map-get($icomoon-default, 'flag');
            }
        }

        &.-calendar {
            &::after {
                content: map-get($icomoon-default, 'calendar');
            }
        }

        &.-review {
            &::after {
                content: map-get($icomoon-default, 'star-full');
            }
        }

        &.-post {
            &::after {
                content: map-get($icomoon-default, 'image');
            }
        }

        &.-video {
            &::after {
                content: map-get($icomoon-default, 'film');
            }
        }

        &.-user {
            &::after {
                content: map-get($icomoon-default, 'user');
            }
        }

        &.-key {
            &::after {
                content: map-get($icomoon-default, 'key');
            }
        }

        &.-data {
            &::after {
                content: map-get($icomoon-default, 'data');
            }
        }

        &.-trash {
            &::after {
                content: map-get($icomoon-default, 'trash');
            }
        }

        &.-exit {
            &::after {
                content: map-get($icomoon-default, 'exit');
            }
        }

        &.-active {
            color: $c-blue-icon-dark;
        }

        &:hover {
            color: $c-blue-icon-dark;
        }
    }

    &.-open {
        display: block;
    }
}