.m-search-result {
    $self: &;

    width: 100%;
    max-width: 420px;
    max-height: 40vh;
    overflow: hidden;

    &__items {
        list-style-type: none;
        padding: 0;
        margin: 10px 0 0;
        padding: 10px 5px;
        overflow: scroll;
        max-height: 40vh;
        background-color: $c-gray-bg-component-light-super;
    }

    &__item {
        position: relative;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            opacity: .2;
            background-color: $c-gray-bg-component-dark;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        cursor: pointer;
        color: $c-gray-t-dark-super;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 5px 10px;
        font-size: $fs-normal-sss;

        &:hover {
            background-color: $c-gray-bg-component-light;
        }
    }

    &__name {
        width: 100%;
        display: block;
    }

    &__type {
        width: 100%;
        color: $gray7;
        font-size: $fs-small-ssss;
    }

    &__visited {
        width: 100%;
        color: $gray7;
        font-size: $fs-small-ssss;
    }

    &__no-result {
        color: $red;
        text-align: right;
        width: 100%;
        padding: 3px 5px 0;
        display: block;
        font-size: $fs-small-l;
    }

    // color
    &.-gray {
        #{$self}__items {
            background-color: $c-gray-bg-component-light-super;
        }
    
        #{$self}__item {
    
            &:after {
                background-color: $c-gray-bg-component-dark;
            }
        }
    
        #{$self}__link {
            color: $c-gray-t-dark-super;

            &:hover {
                background-color: $c-gray-bg-component-light;
            }
        }
    }

    &.-blue {
        #{$self}__items {
            background-color: $c-blue-bg-component-light-super;
        }
    
        #{$self}__item {
            color: $black;

            &:after {
                background-color: $c-blue-bg-component-dark;
            }
        }
    
        #{$self}__link {
            color: $c-gray-t-dark-super;
            
            &:hover {
                background-color: $c-blue-bg-component-light;
            }
        }
    }

    &.-green {
        #{$self}__items {
            background-color: $c-green-bg-component-light-super;
        }
    
        #{$self}__item {
    
            &:after {
                background-color: $c-green-bg-component-dark;
            }
        }
    
        #{$self}__link {
            color: $c-gray-t-dark-super;

            &:hover {
                background-color: $c-green-bg-component-light;
            }
        }
    }

    // size
    &.-full {
        max-width: 100%;
    }
}