.m-social-icons {
    display: block;
    width: 100%;
    background-color: $brand5;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
        padding: 10px 15px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        padding: 5px;
    }

    &__link {
        display: block;
        padding: 5px;
    }

    &__icon {
        @include transition(opacity, .3s);
        display: block;
        width: 30px;
        height: 30px;
        opacity: .6;
        
        &::after {
            font-size: $fs-icon-30;
            font-family: $ff-icomoon-social;
            color: $white;
            width: 30px;
            height: 30px;
            position: absolute;
            line-height: 1;
        }

        &.-youtube {
            &::after {
                content: map-get($icomoon-social, 'youtube');
            }
        }

        &.-tiktok {
            &::after {
                content: map-get($icomoon-social, 'tiktok');
            }
        }

        &.-instagram {
            &::after {
                content: map-get($icomoon-social, 'instagram');
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}