//black and white
$white: #ffffff;
$black: #000000;


//alert, flashmessages
$red: #cc3300;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$gray: gray;
//red
$redBG: #fef8f8;
$redTEXT: #bd2626;
$redBORDER:#eda6a6;
//orange
$orangeBG: #fefaf8;
$orangeTEXT: #bd5b26;
$orangeBORDER:#edbfa6;
//yellow
$yellowBG: #fefcf8;
$yellowTEXT: #bd9f26;
$yellowBORDER:#eddfa6;
//green
$greenBG: #f8fef9;
$greenTEXT: #26bd4c;
$greenBORDER:#a6edb8;
//blue
$blueBG: #f8f9fe;
$blueTEXT: #264cbd;
$blueBORDER:#a6b8ed;
//gray
$grayBG: #fcfbfb;
$grayTEXT: #2e2d2d;
$grayBORDER:#cbcaca;


//social
$youtube: #ff0000;
$instagram: #dd2a7b;
$facebook: #3b5998;
$tiktok: #010101;
$twitter: #00abf0;
$twitch: #6441a5;
$reddit: #ff4500;
$pinterest: #bd081c;
$discord: #738adb;
$patreon: #e64413;


//gray
$gray1: #444444;
$gray2: #e4e4e4;
$gray3: #eeeeee;
$gray4: #777777;
$gray5: #cdcdcd;
$gray6: #f8f8f8;
$gray7: #333333;
$gray8: #0f0f0f;
$gray9: #dddddd;


//project
$brand1: #209277;
$brand1Light: #a5d3c8;
$brand2: #24b694;
$brand3: #30c4c9;
$brand4: #3d3c3c;
$brand5: #383737;

//project - brand dark
$brand11: #1b6a58;
$brand33: #207b7e;

//project - light
$brand3a: #e7f8f8;

//project - edit
$brand1-a: #bcded6;
$brand2-a: #bde9de;
$brand3-a: #ace7e9;


//Gray (https://www.colorhexa.com/403f3f)
//background
$c-gray-bg: #fafafa; //Tint Color Variation 13
$c-gray-bg-component-light-super: #f0f0f0; //Tint Color Variation 12
$c-gray-bg-component-light: #dddcdc; //Tint Color Variation 10
$c-gray-bg-component: #7b7979; //Shade Color Variation 13
$c-gray-bg-component-dark: #403f3f; //Shade Color Variation 7
$c-gray-bg-component-dark-super: #2c2c2c; //Shade Color Variation 5
//text
$c-gray-t-light-super: #fafafa; //Tint Color Variation 13
$c-gray-t-light: #e6e6e6; //Tint Color Variation 11
$c-gray-t-dark: #363535; //Shade Color Variation 6
$c-gray-t-dark-super: #222222; //Shade Color Variation 4
//icon
$c-gray-icon-light: #dddcdc; //Tint Color Variation 10
$c-gray-icon: #403f3f; //Shade Color Variation 7
$c-gray-icon-dark: #0f0e0e; //Shade Color Variation 2
//other
$c-gray-loading-bg: #e4e4e4;
$c-gray-loading-1: #cdcdcd;
$c-gray-loading-2: #dddddd;

//Blue (https://www.colorhexa.com/31c4c9)
//background
$c-blue-bg: #fbfefe; //Tint Color Variation 13
$c-blue-bg-component-light-super: #ebfafa; //Tint Color Variation 12
$c-blue-bg-component-light: #ccf1f2; //Tint Color Variation 10
$c-blue-bg-component: #31c4c9; //Shade Color Variation 13
$c-blue-bg-component-dark: #1a686a; //Shade Color Variation 7
$c-blue-bg-component-dark-super: #12494b; //Shade Color Variation 5
//text
$c-blue-t-light-super: #fbfefe; //Tint Color Variation 13
$c-blue-t-light: #dbf5f6; //Tint Color Variation 11
$c-blue-t-dark: #16585b; //Shade Color Variation 6
$c-blue-t-dark-super: #0e3a3b; //Shade Color Variation 4
//icon
$c-blue-icon-light: #ccf1f2; //Tint Color Variation 10
$c-blue-icon: #1a686a; //Shade Color Variation 7
$c-blue-icon-dark: #071b1c; //Shade Color Variation 2
//other
$c-blue-loading-bg: #ccf1f2;
$c-blue-loading-1: #ccf1f2;
$c-blue-loading-2: #a0d1d2;

//Green (https://www.colorhexa.com/209277)
//background
$c-green-bg: #f0fcf9; //Tint Color Variation 13
$c-green-bg-component-light-super: #e0f8f2; //Tint Color Variation 12
$c-green-bg-component-light: #c0f1e5;  //Tint Color Variation 10
$c-green-bg-component: #2bc29e; //Shade Color Variation 13
$c-green-bg-component-dark: #125343; //Shade Color Variation 7
$c-green-bg-component-dark-super: #0e4235; //Shade Color Variation 5
//text
$c-green-t-light-super: #f0fcf9; //Tint Color Variation 13
$c-green-t-light: #d0f5ec; //Tint Color Variation 11
$c-green-t-dark: #125243; //Shade Color Variation 6
$c-green-t-dark-super: #0b3128; //Shade Color Variation 4
//icon
$c-green-icon-light: #c0f1e5; //Tint Color Variation 10
$c-green-icon: #125343; //Shade Color Variation 7
$c-green-icon-dark: #04110e; //Shade Color Variation 2
//other
$c-green-loading-bg: #c0f1e5;
$c-green-loading-1: #c0f1e5;
$c-green-loading-2: #9dd2c5;


//ads
$cAdBG: #e1e1e1;

//opacity
$white-7: rgba($white, .7);
$black-2: rgba($black, .2);
$black-3: rgba($black, .3);
$black-7: rgba($black, .7);
$brand3-a-3: rgba($brand3-a, .3);
$brand2-a-3: rgba($brand2-a, .3);
$brand1-a-3: rgba($brand1-a, .3);


//hover
$youtube-hover: lighten($youtube, 20%);
$instagram-hover: lighten($instagram, 20%);
$facebook-hover: lighten($facebook, 20%);
$tiktok-hover: lighten($tiktok, 20%);
$twitter-hover: lighten($twitter, 20%);
$twitch-hover: lighten($twitch, 20%);
$reddit-hover: lighten($reddit, 20%);
$pinterest-hover: lighten($pinterest, 20%);
$discord-hover: lighten($discord, 20%);
$patreon-hover: lighten($patreon, 20%);