//black and white
$white: #ffffff;
$black: #000000;

//flashmessages
$successBackgroundcolor: #f2fff9;
$successBordercolor: #2eff97;
$errorBackgroundcolor: #fff2f2;
$errorBordercolor: #ff2e2e;

//alert
$red: #cc3300;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$gray: gray;
//red
$redBG: #fef8f8;
$redTEXT: #bd2626;
$redBORDER:#eda6a6;
//orange
$orangeBG: #fefaf8;
$orangeTEXT: #bd5b26;
$orangeBORDER:#edbfa6;
//yellow
$yellowBG: #fefcf8;
$yellowTEXT: #bd9f26;
$yellowBORDER:#eddfa6;
//green
$greenBG: #f8fef9;
$greenTEXT: #26bd4c;
$greenBORDER:#a6edb8;
//blue
$blueBG: #f8f9fe;
$blueTEXT: #264cbd;
$blueBORDER:#a6b8ed;
//gray
$grayBG: #fcfbfb;
$grayTEXT: #2e2d2d;
$grayBORDER:#cbcaca;


//social
$youtube: #ff0000;
$instagram: #dd2a7b;
$facebook: #3b5998;
$tiktok: #010101;
$twitter: #00abf0;
$twitch: #6441a5;
$reddit: #ff4500;
$pinterest: #bd081c;
$discord: #738adb;
$patreon: #e64413;

//icons
$iconGreen: #209277;
$iconBlue: #30c4c9;

//gray
$gray1: #444444;
$gray2: #e4e4e4;
$gray3: #eeeeee;
$gray4: #777777;
$gray5: #cdcdcd;
$gray6: #f8f8f8;
$gray7: #333333;
$gray8: #0f0f0f;
$gray9: #dddddd;

//project
$brand1: #209277;
$brand1Light: #a5d3c8;
$brand2: #24b694;
$brand3: #30c4c9;
$brand4: #3d3c3c;
$brand5: #383737;

//priject - brand dark
$brand11: #1b6a58;
$brand33: #207b7e;

//project - light
$brand3a: #e7f8f8;

//project - edit
$brand1-a: #bcded6;
$brand2-a: #bde9de;
$brand3-a: #ace7e9;

//other green color
$brand1-a-dark: #4a6860;

//person
$personBG: #fdfdfd;
$personBGcomponentLight: #f5f5f5;
$personBGcomponent: #e1e1e1;
$personBGcomponentDark: #cecece;

//world
$worldBG: #edf1f4;
$worldBGcomponentLight: #bbe8e9;
$worldBGcomponent: #207b7e;
$worldBGcomponentDark: #164344;
$worldTEXTLight: #3aa7aa;
$worldTEXT: #246e70;
$worldTEXTdark: #164344;
$worldTEXTdark2: #0b2424;

//ads
$cAdBG: #e1e1e1;

//opacity
$white-7: rgba($white, .7);
$black-2: rgba($black, .2);
$black-3: rgba($black, .3);
$black-7: rgba($black, .7);
$brand3-a-3: rgba($brand3-a, .3);
$brand2-a-3: rgba($brand2-a, .3);
$brand1-a-3: rgba($brand1-a, .3);

//hover
$youtube-hover: lighten($youtube, 20%);
$instagram-hover: lighten($instagram, 20%);
$facebook-hover: lighten($facebook, 20%);
$tiktok-hover: lighten($tiktok, 20%);
$twitter-hover: lighten($twitter, 20%);
$twitch-hover: lighten($twitch, 20%);
$reddit-hover: lighten($reddit, 20%);
$pinterest-hover: lighten($pinterest, 20%);
$discord-hover: lighten($discord, 20%);
$patreon-hover: lighten($patreon, 20%);