*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
	overflow-y: visible;

	&.no-scroll {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	&.no-scroll-bg {
		overflow-x: hidden;
		overflow-y: hidden;
	}
}

html {
	&.no-scroll-bg {
		&:after {
			background-color: $black-7;
			content: '';
			position: fixed;
			z-index: 49999;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

body {
	color: $gray7;
	font-family: $ff1;
	margin: 0;
}

h1,
.h1 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

h2,
.h2 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

h3,
.h3 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

h4,
.h4 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

h5,
.h5 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

h6,
.h6 {
	color: $gray7;
	font-weight: 600;
	margin: 0;
}

p {
	width: 100%;
	line-height: 1.5;
}

a {
	@include transition(color, .3s);
	color: $c-green-t-dark;
	text-decoration: none;

	&:hover {
		color: $c-green-t-dark-super;
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

//lazyload
.lazyload-file {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;

	&[lazy=loading] {
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}

	&[lazy=error] {
		transition: opacity 0.3s ease-in-out;
		opacity: 1;
	}

	&[lazy=loaded] {
		transition: opacity 0.3s ease-in-out;
		opacity: 1;
	}
}