.loading-image {
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingImage;
    animation-timing-function: linear;
    background: $gray2;
    background: linear-gradient(to right, $gray5 8%, $gray9 38%, $gray5 54%);
    background-size: 1920px 1080px;

    position: relative;

    @keyframes loadingImage {
        0%{
            background-position: -540px 0
        }
        100%{
            background-position: 540px 0
        }
    }
}