.t-grid {
    $self: &;

    display: grid;

    &__section {
        display: inline-grid;
    }

    //world/slug - > hero + hot-info-hero
    &.-world-hero {
        grid-template-areas: 
            "hero-place"
            "map"
            "hot-info-hero";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;

        @media only screen and (min-width: $lg) {
            grid-template-areas: 
                "hero-place map"
                "hot-info-hero hot-info-hero";
            grid-template-columns: auto 33.333%;
            grid-template-rows: auto, auto;
        }

        #{$self}__section {

            &.-hero-place {
                grid-area: hero-place;
            }

            &.-map {
                grid-area: map;
            }

            &.-hot-info-hero {
                grid-area: hot-info-hero;
            }
        }
    }


    //world/slug - > tab - content with add
    &.-world-content-with-ad {
        grid-template-areas: 
        "content"
        "ad";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;

        @media only screen and (min-width: $lg) {
            grid-template-areas: "content ad";
            grid-template-columns: auto 320px;
            grid-template-rows: auto;
        }

        #{$self}__section {

            &.-content {
                grid-area: content;
            }

            &.-ad {
                grid-area: ad;
            }
        }
    }


    //world/slug - > fullwith
    &.-world-full {
        grid-template-areas: 
        "content";
        grid-template-columns: 100%;
        grid-template-rows: auto;

        @media only screen and (min-width: $lg) {
            grid-template-areas: "content";
            grid-template-columns: 100%;
            grid-template-rows: auto;
        }

        #{$self}__section {

            &.-content {
                grid-area: content;
            }
        }
    }

    //world/slug - > o-information
    &.-world-information-adjacent {
        grid-template-areas: 
        "block"
        "block"
        "block";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;

        @media only screen and (min-width: $md) {
            grid-template-areas: "block block block";
            grid-template-columns: 33.333% 33.333% 33.333%;
            grid-template-rows: auto;
        }

        #{$self}__section {

            &.-block {
                grid-area: block;
            }
        }
    }
}