.t-main {
    padding-top: 0;

    @media only screen and (min-width: $lg) {
        padding-top: 0;
    }


    //MODIFICATION
    &.-vh100 {
        min-height: 100vh;
    }

    &.-tab {
        width: 100%;
    }

    &.-pt-menu {
        padding-top: 60px;
    }


    //Background color
    &.-blue {
        background-color: $c-blue-bg;
    }

    &.-gray {
        background-color: $c-gray-bg;
    }

    &.-green {
        background-color: $c-green-bg;
    }
}