.o-alerts {    
    width: 100%;
    margin: 0 auto;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        width: 100%;
        border-radius: $br-2;
        margin: 5px 0;
        padding: 10px 20px;

        @media only screen and (min-width: $ti) {
            margin: 10px 0;
            border-radius: $br-4;
        }

        &:nth-of-type(2 + 1n){
            margin-top: 15px;

            @media only screen and (min-width: $ti) {
                margin: 20px 0;
            }
        }

        &.-red {
            border: 1px solid $redBORDER;
            color: $redTEXT;
            background-color: $redBG;
        }

        &.-orange {
            border: 1px solid $orangeBORDER;
            color: $orangeTEXT;
            background-color: $orangeBG;
        }

        &.-yellow {
            border: 1px solid $yellowBORDER;
            color: $yellowTEXT;
            background-color: $yellowBG;
        }

        &.-green {
            border: 1px solid $greenBORDER;
            color: $greenTEXT;
            background-color: $greenBG;
        }

        &.-blue {
            border: 1px solid $blueBORDER;
            color: $blueTEXT;
            background-color: $blueBG;
        }

        &.-gray {
            border: 1px solid $grayBORDER;
            color: $grayTEXT;
            background-color: $grayBG;
        }
    }

    &__name {
        font-size: $fs-normal-sss;
        font-weight: 700;
    }

    &__text {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &__dates {
        margin-top: 5px;
        font-size: $fs-small-sss;
        opacity: .9;
    }
}