.o-box-platform {
    $self: &;

    &__outer {
        width: 100%;
    }


    &__inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        @media only screen and (min-width: $md) {
			flex-wrap: nowrap;
		}
    }

    &__items {
        width: auto;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }

    &__item {
        width: 100%;
        display: grid;
        display: grid;
        grid-template-areas: 
            "icon"
            "text";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin-bottom: 20px;
        padding: 0 5px;


        @media only screen and (min-width: $md) {
            grid-template-areas: "icon text";
            grid-template-columns: 200px auto;
            grid-template-rows: auto;
        }

        @media only screen and (min-width: $lg) {
			width: 50%;
		}
    }


    &__icon {
        width: 100%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: $md) {
			width: 40%;
            min-width: 200px;
            max-width: 200px;
            text-align: right;
            flex-wrap: wrap;
		}

        &.-youtube {
            background-color: $youtube;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'youtube');
                    color: $white;
                }
            }
        }

        &.-instagram {
            background-color: $instagram;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'instagram');
                    color: $white;
                }
            }
        }

        &.-facebook {
            background-color: $facebook;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'facebook');
                    color: $white;
                }
            }
        }

        &.-tiktok {
            background-color: $tiktok;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'tiktok');
                    color: $white;
                }
            }
        }

        &.-twitter {
            background-color: $twitter;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'twitter');
                    color: $white;
                }
            }
        }

        &.-twitch {
            background-color: $twitch;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'twitch');
                    color: $white;
                }
            }
        }

        &.-reddit {
            background-color: $reddit;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'reddit');
                    color: $white;
                }
            }
        }

        &.-pinterest {
            background-color: $pinterest;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'pinterest');
                    color: $white;
                }
            }
        }

        &.-discord {
            background-color: $discord;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'discord');
                    color: $white;
                }
            }
        }

        &.-patreon {
            background-color: $patreon;

            #{$self}__icon-file {
                &:after {
                    content: map-get($icomoon-social, 'patreon');
                    color: $white;
                }
            }
        }
    }

    &__icon-file {
        width: 200px;
        height: 200px;
        position: relative;

        &:after {
            font-size: $fs-icon-150;
            font-family: $ff-icomoon-social; 
            width: 150px;
            height: 150px;
            position: absolute; 
            color: $black;
            top: 25px;
            right: 25px;
            bottom: 25px;
            left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    &__text {
        width: 100%;
        text-align: left;
        padding: 10px 0 0 0;
        grid-area: text;
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        border-radius: 0 $br-2 0 0;

        @media only screen and (min-width: $md) {
			width: auto;
		}
    }

    &__headline {
        margin: 0 0 10px;
        padding-left: 5px;
        font-size: $fs-normal-ll;
    }

    &__perex {
        letter-spacing: 0.2px;
        line-height: $lh-x-normal;
        margin: 0 0 10px;
        padding-left: 5px;
    }

    &__button {
        width: 100%;
        margin-top: auto;
    }

    &__statistic {
        width: auto;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        @media only screen and (min-width: $md) {
			width: 100%;
            align-items: inherit;
		}
    }

    &__statistic-items {
        width: 100%;
    }

    &__statistic-item {
        width: 100%;
    }

    &__statistic-name {
        font-weight: 300;
        font-size: $fs-small;
    }

    &__statistic-value {
        font-weight: 600;
        font-size: $fs-normal-s;
    }

    &__statistic-info {
        font-weight: 100;
        font-style: italic;
        font-size: $fs-small-sss;
        width: 100%;
    }
}