.o-chart-pie {
    width: 100%;

    &__outher {
        background-color: $c-green-bg-component-light-super;
        border-radius: $br-2;
        margin: 5px 0;
    
        @media only screen and (min-width: $ti) {
            margin: 10px 0;
            border-radius: $br-4;
        }
    }

    &__inner {
        padding: 20px;
    }

    &__headline {
        font-size: $fs-large-l;
        margin-bottom: 20px;
        color: $c-green-t-dark;
        border-bottom: 1px solid $c-green-bg-component-light;
    }

    &__container {
        display: grid;
        grid-template-columns: [first] 100%;

        @media only screen and (min-width: $md) {
            grid-template-columns: [first] 200px [line2] auto;
        }
    }

    &__pie {
        height: 200px;
        width: 200px;
        position: relative;
        display: inline-block;
        vertical-align: top;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            width: 100px;
            height: 100px;
            background: $c-green-bg-component-light-super;
            border-radius: 50%;
            top: 50px;
            left: 50px;
          }


        .slice {
            position: absolute;
            width: 200px;
            height: 200px;
            clip: rect(0px, 200px, 200px, 100px);
            animation: bake-pie 1s;
    
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: black;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                clip: rect(0px, 200px, 200px, 100px);
              }
          }
    }

    &__legend {
        padding-top: 30px;

        @media only screen and (min-width: $md) {
           padding-top: 0;
           padding-left: 30px;
        }
    }

    &__legend-items {
        color: $c-green-t-dark-super;
    }

    &__legend-item {
        border-left: 20px solid black;
        padding-left: 5px;
        margin: 3px 0;
    }

    &__legend-name {
        font-style: normal;
        font-size: $fs-normal-sss;
    }

    &__legend-value {
        font-size: $fs-normal;
    }

    @keyframes bake-pie {
        from {
            transform: rotate(0deg) translate3d(0,0,0);
        }
    }
}