.o-flash-messages {
    width: 100%;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        width: 100%;
        border-radius: $br-2;
        margin: 5px 0;
        padding: 10px 20px;

        &.-success {
            border: 2px solid $greenBORDER;
            color: $greenTEXT;
            background-color: $greenBG;
        }

        &.-error {
            border: 2px solid $redBORDER;
            color: $redTEXT;
            background-color: $redBG;
        }
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__text {
        font-size: $fs-normal-s;
        line-height: 1.1;
    }
}
