.o-flash-messages {
    width: 100%;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        width: 100%;
        border-radius: $br-2;
        margin: 5px 0;
        padding: 10px 20px;

        &.-info-gray {
            border: 2px solid $grayBORDER;
            color: $grayTEXT;
            background-color: $grayBG;
        }

        &.-info-blue {
            border: 2px solid $blueBORDER;
            color: $blueTEXT;
            background-color: $blueBG;
        }

        &.-success {
            border: 2px solid $greenBORDER;
            color: $greenTEXT;
            background-color: $greenBG;
        }

        &.-warning-yellow {
            border: 2px solid $yellowBORDER;
            color: $yellowTEXT;
            background-color: $yellowBG;
        }

        &.-warning-orange {
            border: 2px solid $orangeBORDER;
            color: $orangeTEXT;
            background-color: $orangeBG;
        }

        &.-error {
            border: 2px solid $redBORDER;
            color: $redTEXT;
            background-color: $redBG;
        }
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__text {
        font-size: $fs-normal-s;
        line-height: 1.1;
    }
}
