.o-form-profile {
    width: 100%;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__messages {
        display: block;
        width: 100%;
    }

    &__title {
        display: block;
        color: $c-green-t-dark-super;
        border-bottom: 1px solid $c-green-bg-component;
        margin-bottom: 10p;
        font-size: $fs-normal-ll;
    }

    &__form {
        display: block;
        width: 100%;
    }

    &__items {
        width: 100%;
    }

    &__item {
        display: inline-block;
        margin: 8px 0;
        width: 100%;
    }
}