.o-footer {
    &__logo {
        width: 100%;
    }

    &__nav {
        width: 100%;
    }

    &__copyright {
        width: 100%;
    }

    &__animation {
        width: 100%;
        height: auto;
        margin-top: -16.666%;

        @media only screen and (min-width: $sm) {
            margin-top: -8.333%
        }
    }

    &__animation-items {
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 16.666%;

        @media only screen and (min-width: $sm) {
            padding-bottom: 8.333%;
        }
    }


    &__animation-item-mountains-1 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        width: 200%;
        background-image: url('../../static/images/_base/mountains-1.svg');
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        animation: mountains 70s linear infinite;
    }

    &__animation-item-mountains-2 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 200%;
        background-image: url('../../static/images/_base/mountains-2.svg');
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        animation: mountains 83s linear infinite;
    }

    &__animation-item-mountains-3 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 200%;
        background-image: url('../../static/images/_base/mountains-3.svg');
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        animation: mountains 100s linear infinite;
    }

    &__animation-item-aircraft-1 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 200%;
        background-image: url('../../static/images/_base/aircraft.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: aircraft 100s linear infinite;
    }

    &__animation-item-aircraft-2 {
        display: none;
        position: absolute;
        left: -150%;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 200%;
        background-image: url('../../static/images/_base/aircraft.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        animation: aircraft 100s linear infinite;

        @media only screen and (min-width: $sm) {
            display: block;
        }
    }


    @keyframes mountains {
        0% {
            background-position-x: 100%;
        }
        100% {
            background-position-x: -100%;
        }
    }

    @keyframes aircraft {
        0% {
            background-position-x: -20%;
            top: 0%;
        }
        20% {
            top: 0%;
        }
        25% {
            top: 10%;
        }
        30% {
            top: 0%;
        }
        100% {
            background-position-x: 220%;
        }
    }
}