.o-hero {
    width: 100%;
    height: auto;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-radius: $br-4;
    margin: 0 20px;
    width: auto;
    background-color: $personBGcomponentLight;

    @media only screen and (min-width: $lg) {
        min-height: auto;
    }

    &__outer {
        position: relative;
        width: 100%; 
        height: auto;
        display: flex;
        align-items: center;
    }

    &__inner {
        width: 100%;
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        padding: 10px 15px;
    }

    &__headline {
        color: $gray7;
        margin: 0 0 5px;
        font-size: $fs-40;
        text-transform: uppercase;
    }

    &__perex {
        color: $gray7;
        margin: 0;
        font-size: $fs-normal-ssss;
    }

    &__date {
        color: $gray3;
        font-size: $fs-small-ssss;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }
}