.o-hot-info-hero {
    width: 100%;
    color: $white;
    margin: 0;

    &__outer {
        width: auto;
        margin: 0;
        height: 100%;
    }

    &__inner {
        width: 100%;
        height: 100%;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        height: 100%;
        max-width: 1200px;
        margin: 0 5px;
        padding: 0;

        @media only screen and (min-width: $ti) {
            margin: 0 10px;
        }

        @media only screen and (min-width: $md) {
            margin: 0;
        }

        @media only screen and (min-width: $lg) {
            margin: 0 10px;
        }
    }

    &__item {
        display: flex;
        width: 100%;

        @media only screen and (min-width: $md) {
            width: 33.333%;
        }

        @media only screen and (min-width: $lg) {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 13px 5px;
        background-color: $worldBGcomponent;
        border-radius: $br-2;
        margin: 5px 0;
        align-items: center;

        @media only screen and (min-width: $ti) {
            margin: 10px 0;
            border-radius: $br-4;
        }

        @media only screen and (min-width: $md) {
            margin: 10px;
        }

        @media only screen and (min-width: $lg) {
            margin: 10px 0;
        }
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: $fs-normal-ll;
        margin: 0 0 5px 0;
        color: $white;
        width: 100%;
    }

    &__value {
        font-weight: 300;
        font-size: $fs-normal-s;
    }

    &__value-link {
        font-weight: 300;
        font-size: $fs-normal-s;
        color: $white;

        &:hover {
            color: $brand1;
        }
    }
}