.o-map-google {
    margin: 5px;
    padding-bottom: 90%;
    height: 0;
    position: relative;

    @media only screen and (min-width: $ti) {
        margin: 10px;
    }

    @media only screen and (min-width: $sm) {
        padding-bottom: 45%;
    }

    @media only screen and (min-width: $lg) {
        padding-bottom: 0;
        height: auto;
    }

    .vue-map-container {
        position: absolute;
        height: 100%;
        display: contents;

        @media only screen and (min-width: $lg) {
            position: relative;
        }
    }

    .vue-map {
        border-radius: $br-2;

        @media only screen and (min-width: $ti) {
            border-radius: $br-4;
        }
    }
}