.o-number-places {
    display: block;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
    }

    &__items {
        display: flex;
        margin: 0 -5px;
    }

    &__item {
        display: block;
        text-align: center;
        padding: 5px;
        width: 50%;

        @media only screen and (min-width: $sm) {
            width: 20%;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $c-blue-bg-component-light-super;
        padding: 20px 15px;
        border-radius: $br-2;

        @media only screen and (min-width: $sm) {
            border-radius: $br-4;
        }
    }

    &__headline {
        display: block;
        width: 100%;
        color: $c-blue-bg-component-dark-super;
        font-size: $fs-normal-ss;
    }

    &__number {
        display: block;
        font-size: $fs-large-l;
        font-weight: 700;
        color: $c-blue-bg-component-dark-super;
    }
}