.o-review-item-list-account {
    $self: &;

    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;

    @media only screen and (min-width: $md) {
        max-width: 100%;
    }

    &__outer {
        width: auto;
    }

    &__inner {
        width: auto;
        padding: 0;
        margin: 0;
        border-radius: $large;
    }

    &__items {
        display: block;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__content {
        width: 100%;
        display: grid;
        column-gap: 8px;
        grid-template-areas: "image text";
        grid-template-columns: 40px auto;
        grid-template-rows: auto;

        @media only screen and (min-width: $ti) {
            grid-template-columns: 50px auto;
        }

        @media only screen and (min-width: $sm) {
            column-gap: 15px;
            grid-template-columns: 70px auto;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: $br-1;

        @media only screen and (min-width: $ti) {
            width: 50px;
            height: 50px;
            border-radius: $br-2;
        }

        @media only screen and (min-width: $sm) {
            width: 70px;
            height: 70px;
        }
    }

    &__image-lazyload {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: $br-1;

        @media only screen and (min-width: $ti) {
            border-radius: $br-2;
        }
    }

    &__image-file {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__image-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__stars {
        width: 100%;
        display: flex;
        margin-left: -5px;
        margin-bottom: 5px;
    }

    &__star {
        font-family: $ff-icomoon-default;
        width: 40px;
        height: 40px;
        padding: 5px;
        color: $star-blue;

        &::after {
            font-size: $fs-icon-30;
            line-height: 1;
            content: map-get($icomoon-default, 'star-full');
        }

        &.-active {
            color: $starActive;
        }
    }

    &__text {
        width: 100%;
        max-width: 640px;
        background-color: $c-blue-bg-component-light-super;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 5px 10px 10px 10px;
        border-radius: $br-1;

        @media only screen and (min-width: $ti) {
            border-radius: $br-2;
        }
    }

    &__review {
        width: 100%;
    }

    &__name {
        font-size: 18px;
        margin-bottom: 5px;
        color: $c-blue-t-dark;
        font-size: $fs-normal-sss;
        font-weight: 600;
        z-index: 2;
    }

    &__name-link {
        color: $c-blue-t-dark-super;

        &:hover {
            color: $c-blue-t-dark;
        }
    }

    &__perex {
        color: $c-blue-t-dark-super;
        font-size: $fs-normal-s;
        line-height: $lh-x-normal;
    }
}