.o-search {
    $self: &;

    width: 100%;
    margin-top: 0;

    @media only screen and (min-width: $sm) {
        margin-top: 40px;
    }

    &__input {
        display: flex;
        justify-content: center;
    }

    &__result {
        display: flex;
        justify-content: center;
    }

    &__condition {
        display: flex;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        justify-content: flex-end;
        opacity: .7;
        margin-top: 3px;
        padding-right: 5px;
        font-size: $fs-small-ssss;
        height: 16px;
    }

    // size
    &.-full {
        #{$self}__condition {
            max-width: 100%;
        }
    }
}