.o-sidebar-map-mapy {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
        font-size: 0;
    }

    &__map {
        display: inline-block;
        width: 100%;
    }

    &__map-link {
        display: inline-block;
    }

    &__image {
        position: relative;
        overflow: hidden;
        border: none;
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: inline-block;
    }

    &__image-lazyload {
        width: 100%;
    }

    &__image-file {
        width: 100%;
    }

    &__link {
        background-color: $brand3-a;
        font-size: $fs-small-l;
        padding: 6px 15px;
        width: 100%;
        text-align: center;
        display: inline-block;
        color: $black;
        text-decoration: none;

        &:hover {
            background-color: $brand3;
            color: $black;
        }
    }
}