.o-sidebar-information {
    display: block;
    width: 100%;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
        width: 100%;
        background-color: $c-green-bg-component-light-super;
        border-radius: $br-1;

        @media only screen and (min-width: $ti) {
            border-radius: $br-2;
        }
    }

    &__items {
        display: block;
        padding: 15px;
    }

    &__item {
        padding: 5px;
        border-bottom: 1px solid $c-green-bg-component-light;
        margin-bottom: 5px;

        &:last-of-type {
            border: 0;
            margin-bottom: 0;
        }
    }

    &__type {
        display: block;
        font-weight: 600;
        font-size: $fs-normal;
    }

    &__value {
        display: block;
    }
}