.o-sidebar-event {
    display: block;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
    }

    &__header {
        margin-bottom: 10px;
    }

    &__items {
        display: block;
    }

    &__item {
        display: grid;
        grid-template-areas: "image text";
        grid-template-columns: 100px auto;
        grid-template-rows: auto;
    }

    &__image-container {
        grid-area: image;
        position: relative;
    }

    &__image {
        overflow: hidden;
        width: 100px;
        min-height: 100px;
        position: relative;
        border-radius: $br-1;
    }

    &__image-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__image-lazyload {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: $br-1;
    }

    &__image-file {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $br-1;
    }

    &__text {
        grid-area: text;
        width: 100%;
        padding: 0 5px 15px 10px;
        background-color: transparent;
    }

    &__name {
        font-weight: 700;
    }

    &__dates {
        display: flex;
        flex-wrap: wrap;
    }

    &__date {
        width: 100%;
        margin-bottom: 4px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__date-text {
        width: 100%;
        font-weight: 600;
        font-size: $fs-small-sss;
    }

    &__date-value {
        display: block;
        font-weight: 300;
    }
}