.o-visited-button {
    width: 100%;
    margin: 5px 0;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
    }

    &__item {
        display: flex;
        width: 100%;
        padding: 5px 0;
    }

    &__button {
        @include transition(color, .3s);
        @include transition(background-color, .3s);
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 13px 15px 13px 55px;
        background-color: $c-green-bg-component-light-super;
        border-radius: $br-2;
        height: 52px;
        line-height: 26px;

        &::after {
            content: '';
            font-family: $ff-icomoon-default;
            width: 36px;
            height: 36px;
            line-height: 1;
            font-size: $fs-icon-24;
            position: absolute;
            left: 15px;
            top: 8px;
            padding: 6px;
        }

        &.-future {
            color: $c-green-icon;
            
            &::after {
                content: map-get($icomoon-default, 'calendar');
            }

            &.-active {
                background-color: $c-green-bg-component-dark;
                color: $white;
            }
        }

        &.-visited {
            color: $c-blue-icon;

            &::after {
                content: map-get($icomoon-default, 'flag');
            }

            &.-active {
                background-color: $c-green-bg-component-dark;
                color: $white;
            }
        }

        &:hover {
            background-color: $c-green-bg-component-dark-super;

            &.-future {
                color: $white;

                &.-active {
                    background-color: $c-green-bg-component-dark-super;
                    color: $white;
                }
            }
    
            &.-visited {
                color: $white;

                &.-active {
                    background-color: $c-green-bg-component-dark-super;
                    color: $white;
                }
            }
        }
    }
}