.o-world-type {
    $self: &;

    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
        font-size: 0;
    }

    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 50%;

        @media only screen and (min-width: $md) {
            width: 33.333%;
        }

        &:hover {
            #{$self}__image {
                opacity: 1;
            }
        }
    }

    &__container {
        max-width: 200px;
        margin: 0 auto;
        padding: 20px 10px;
    }

    &__image {
        @include transition(opacity, .3s);
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        opacity: .6;
    }

    &__image-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__image-file {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;

        &.-continent {
            background-image: url('../../static/images/world/continent--green.svg');
        }

        &.-state {
            background-image: url('../../static/images/world/state--green.svg');
        }

        &.-region {
            background-image: url('../../static/images/world/region--green.svg');
        }

        &.-city {
            background-image: url('../../static/images/world/city--green.svg');
        }

        &.-spot {
            background-image: url('../../static/images/world/spot--green.svg');
        }
    }

    &__text {
        width: 100%;
        font-size: $fs-normal;
        color: $c-green-t-dark;
        text-align: center;
        margin: 0;
    }

    &__link {
        display: block;

        &:hover {
            color: $c-green-t-dark;
        }
    }

    &__link-title {
        display: block;
        font-size: $fs-normal;
        color: $c-green-t-dark-super;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__link-length {
        display: flex;
        justify-content: center;
        font-size: $fs-normal-s;
        color: $c-green-t-dark;
        font-weight: 300;
        text-transform: lowercase;
    }

    &__link-length-number {

        &.-loader {
            top: -2px;
            position: relative;
            margin: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: conic-gradient(#0000 10%,$c-green-icon);
            -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
            animation: ring 1s infinite linear;
        }

        &.-number {
            color: $c-green-t-dark;
        }
    }

    @keyframes ring {to{transform: rotate(1turn)}}


    // Thema
    &.-blue {
        #{$self}__image-file {
    
            &.-continent {
                background-image: url('../../static/images/world/continent--blue.svg');
            }
    
            &.-state {
                background-image: url('../../static/images/world/state--blue.svg');
            }
    
            &.-region {
                background-image: url('../../static/images/world/region--blue.svg');
            }
    
            &.-city {
                background-image: url('../../static/images/world/city--blue.svg');
            }
    
            &.-spot {
                background-image: url('../../static/images/world/spot--blue.svg');
            }
        }

        #{$self}__text {
            color: $c-blue-t-dark;
        }
    
        #{$self}__link {
    
            &:hover {
                color: $c-blue-t-dark;
            }
        }
    
        #{$self}__link-title {
            color: $c-blue-t-dark-super;
        }
    
        #{$self}__link-length {
            color: $c-blue-t-dark;
        }
    
        #{$self}__link-length-number {
    
            &.-loader {
                background: conic-gradient(#0000 10%,$c-blue-icon);
            }
    
            &.-number {
                color: $c-blue-t-dark;
            }
        }
    }

    &.-gray {
        #{$self}__image-file {
    
            &.-continent {
                background-image: url('../../static/images/world/continent--gray.svg');
            }
    
            &.-state {
                background-image: url('../../static/images/world/state--gray.svg');
            }
    
            &.-region {
                background-image: url('../../static/images/world/region--gray.svg');
            }
    
            &.-city {
                background-image: url('../../static/images/world/city--gray.svg');
            }
    
            &.-spot {
                background-image: url('../../static/images/world/spot--gray.svg');
            }
        }

        #{$self}__text {
            color: $c-gray-t-dark;
        }
    
        #{$self}__link {
    
            &:hover {
                color: $c-gray-t-dark;
            }
        }
    
        #{$self}__link-title {
            color: $c-gray-t-dark-super;
        }
    
        #{$self}__link-length {
            color: $c-gray-t-dark;
        }
    
        #{$self}__link-length-number {
    
            &.-loader {
                background: conic-gradient(#0000 10%,$c-gray-icon);
            }
    
            &.-number {
                color: $c-gray-t-dark;
            }
        }
    }

    &.-green {

        #{$self}__image-file {
    
            &.-continent {
                background-image: url('../../static/images/world/continent--green.svg');
            }
    
            &.-state {
                background-image: url('../../static/images/world/state--green.svg');
            }
    
            &.-region {
                background-image: url('../../static/images/world/region--green.svg');
            }
    
            &.-city {
                background-image: url('../../static/images/world/city--green.svg');
            }
    
            &.-spot {
                background-image: url('../../static/images/world/spot--green.svg');
            }
        }

        #{$self}__text {
            color: $c-green-t-dark;
        }
    
        #{$self}__link {
    
            &:hover {
                color: $c-green-t-dark;
            }
        }
    
        #{$self}__link-title {
            color: $c-green-t-dark-super;
        }
    
        #{$self}__link-length {
            color: $c-green-t-dark;
        }
    
        #{$self}__link-length-number {
    
            &.-loader {
                background: conic-gradient(#0000 10%,$c-green-icon);
            }
    
            &.-number {
                color: $c-green-t-dark;
            }
        }
    }
}