.o-youtube {
    &__outer {
        width: 100%;
        max-width: 1200px;    
        margin: 0 auto;
    }

    &__inner {
        width: 100%;
    }

    &__video {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    &__video-iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}