@media print {
    .o-block-list {

        &__list-li {
            width: 33.333%;

            @media only screen and (min-width: $sm) {
                width: 33.333%;
            }

            @media only screen and (min-width: $md) {
                width: 33.333%;
            }
        }

        &__list-content {
            border-radius: $br-2;

            @media only screen and (min-width: $sm) {
                border-radius: $br-2;
            }
        }
    }
}