@media print {
    .o-cover-place {
        $self: &;

        margin: 10px;

        @media only screen and (min-width: $sm) {
            margin: 10px;
        }

        &__item {
            width: 20%;
            padding-bottom: 20%;

            @media only screen and (min-width: $sm) {
                width: 20%;
                padding-bottom: 20%;
            }

            @media only screen and (min-width: $md) {
                width: 20%;
                padding-bottom: 20%;
            }

            @media only screen and (min-width: $lg) {
                width: 20%;
                padding-bottom: 20%;
            }
        }

        &__content {
            padding: 5px;

            @media only screen and (min-width: $sm) {
                padding: 5px;
            }
        }

        // Image
        &__image {
            border-radius: $br-4;

            @media only screen and (min-width: $sm) {
                border-radius: $br-4;
            }
        }

        &__prename {
            font-size: $fs-small;

            @media only screen and (min-width: $ti) {
                font-size: $fs-small;
            }

            @media only screen and (min-width: $sm) {
                font-size: $fs-small;
            }
        }

        &__name {
            font-size: $fs-normal-s;

            @media only screen and (min-width: $ti) {
                font-size: $fs-normal-s;
            }

            @media only screen and (min-width: $sm) {
                font-size: $fs-normal-lll;
            }
        }
    }
}