@media print {
    .o-cover-neighboring {
        $self: &;

        &__item {
            width: 20%;
            padding-bottom: 20%;

            @media only screen and (min-width: $sm) {
                width: 20%;
                padding-bottom: 20%;
            }

            @media only screen and (min-width: $md) {
                width: 20%;
                padding-bottom: 20%;
            }

            @media only screen and (min-width: $lg) {
                width: 20%;
                padding-bottom: 20%;
            }
        }


        //Name
        &__name {
            font-size: $fs-normal-sss;

            @media only screen and (min-width: $ti) {
                font-size: $fs-normal-sss;
            }

            @media only screen and (min-width: $sm) {
                font-size: $fs-normal-sss;
            }
        }
    }
}