@media print {
    .o-cover-place-detail {
        $self: &;

        &__items {
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
        }

        &__item {
            width: 20%;
            padding-bottom: 30vw;

            @media only screen and (min-width: $ti) {
                width: 20%;
                padding-bottom: 30vw;
            }

            @media only screen and (min-width: $sm) {
                width: 20%;
                padding-bottom: 30vw;
            }

            @media only screen and (min-width: $md) {
                width: 20%;
                padding-bottom: 30vw;
            }

            @media only screen and (min-width: $lg) {
                width: 20%;
                padding-bottom: 30vw;
            }
        }
    }
}