@media print {
    .o-map-google {
        height: 45vw;

        @media only screen and (min-width: $sm) {
            height: 45vw;
        }

        @media only screen and (min-width: $lg) {
            height: 45vw;
        }

        &__inner {
            padding-bottom: 45%;

            @media only screen and (min-width: $ti) {
                border-radius: $br-4;
            }

            @media only screen and (min-width: $sm) {
                padding-bottom: 45%;
            }

            @media only screen and (min-width: $lg) {
                padding-bottom: 45%;
            }
        }
    }
}