@media print {
    .o-whoiam {

        &__inner {
            grid-template-areas: "image text";
            grid-template-columns: 240px auto;
            grid-template-rows: auto;

            @media only screen and (min-width: $lg) {
                grid-template-areas: "image text";
                grid-template-columns: 240px auto;
                grid-template-rows: auto;
            }
        }

        &__image {
            min-height: auto;
            width: 240px;
            height: 240px;
            margin-bottom: 0;

            @media only screen and (min-width: $lg) {
                min-height: auto;
                width: 240px;
                height: 240px;
                margin-bottom: 0;
            }
        }
    }
}