@media print {
    .o-world-type {
        $self: &;

        &__item {
            width: 33.333%;

            @media only screen and (min-width: $md) {
                width: 33.333%;
            }
        }
    }
}