@media print {
    .t-grid {
        $self: &;
    
        display: grid;
    
        &__section {
            display: inline-grid;
        }
    
        &.-world-hero {
            grid-template-areas: 
                "hero-place map"
                "hot-info-hero hot-info-hero";
            grid-template-columns: 50% 50%;
            grid-template-rows: auto, auto;
    
            #{$self}__section {
    
                &.-hero-place {
                    grid-area: hero-place;
                }
    
                &.-map {
                    grid-area: map;
                }
    
                &.-hot-info-hero {
                    grid-area: hot-info-hero;
                }
            }
        }
    }
}