//Icomoon
@font-face {
	font-family: 'icomoon-default';
	src:url('../../static/fonts/icomoon/default/icomoon.eot?ver=1.8');
	src:url('../../static/fonts/icomoon/default/icomoon.eot?ver=1.8#iefix') format('embedded-opentype'),
		url('../../static/fonts/icomoon/default/icomoon.woff?ver=1.8') format('woff'),
		url('../../static/fonts/icomoon/default/icomoon.ttf?ver=1.8') format('truetype'),
		url('../../static/fonts/icomoon/default/icomoon.svg?ver=1.8#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
$ff-icomoon-default: 'icomoon-default';

@font-face {
	font-family: 'icomoon-social';
	src:url('../../static/fonts/icomoon/social/icomoon.eot?ver=1.0');
	src:url('../../static/fonts/icomoon/social/icomoon.eot?ver=1.0#iefix') format('embedded-opentype'),
	url('../../static/fonts/icomoon/social/icomoon.woff?ver=1.0') format('woff'),
	url('../../static/fonts/icomoon/social/icomoon.ttf?ver=1.0') format('truetype'),
	url('../../static/fonts/icomoon/social/icomoon.svg?ver=1.0#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
$ff-icomoon-social: 'icomoon-social';


//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

$ff1: 'Montserrat', sans-serif;